$buttonColor: #ff2e2e;
$buttonStrengthColor: #af0d0d;
$textGrey: #4e4e4e;
$buttonBorder: #acacac;

/* make the canvases, children of the this container */
#container {
  position: relative;
}

#canvas {
  background: transparent;
}

.football-area {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  z-index: 8;
  pointer-events: all;
  margin: auto;
  position: relative;
  overflow: hidden;
  width: 66%;
  // padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  padding-top: 37.5%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  // Note: I reduced the width and padding (aspect ratio) by a third
}

.forward {
  z-index: 10;
}

.back {
  z-index: 8;
}

h1 {
  font-size: 2rem;
  margin-bottom: 7rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 0;
  color: $buttonStrengthColor;
}

h4 {
  font-size: 1.5rem;
  line-height: 0;
  color: $textGrey;
}

.title {
  position: relative;
  text-align: center;
  margin: 3em 0 6em 0;
}

.info {
  position: absolute;
  left: 50%;
  top: 5rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.reset-button-container {
  padding-bottom: 1.5rem;
}

.reset-button {
  font-size: 1rem;
  font-weight: 400;
  color: $textGrey;
  border: none;
}

.button {
  z-index: 12;
  background-color: transparent;
  width: 49.5%;
  height: 48.5%;
  border: none; //1px $buttonBorder solid;
  font-size: 6em;
}

.button-one {
  position: absolute;
  top: 0;
  left: 0;
}

.button-two {
  position: absolute;
  top: 0;
  right: 0;
}

.button-three {
  position: absolute;
  bottom: 0;
  left: 0;
}

.button-four {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hide-button {
  font-size: 0;
}

.strength-indicator {
  position:relative;
  background-color: $buttonStrengthColor;
  border-radius: 100px;
  opacity: 50%;
  width: 0;
  height: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
